/* The General Font Rules*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

/* The Header Rules*/
header {
    padding: 0;
    margin:0;
    text-align: center;
}

/* The Nav Bar rules */
nav {
    width: 100%;
    padding: .5rem;
    padding-bottom: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0rem 1rem 0rem 1rem;
}

nav a {
    color: grey;
    text-decoration: none;
}

/* The Nav Bar hover rules */
nav a:hover {
    color: #F0F0F0;
    border-bottom-color: #F0F0F0;
    border-bottom: .8rem;
    transition: .20s ease-out; 
}

/* Type Text Rules*/
.typetext {
    color: black;
    font-size: 15px;
}

/* Artwork Rules*/
#artwork img {
        width: 16rem;
        height: 12rem;
}

/* jewelrydesign Rules*/
#jewelrydesign img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.p-text {
    width: 70%;
    float: center;
    margin-right: auto;
    margin-left: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Jcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}