header h1 {
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0em;
}


header h3 {
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img {
    width: 500px;
    height: 350px;
}